<section id="deatils-page">
	<div class="wrapper">
		<div class="product-img">
			<img src="{{house.image}}">
		</div>
		<div class="product-info">
			<div class="product-text">
				<div class="product-text">
					<h1>Name: {{house.name}}</h1>
					<h2>Type: {{house.type}}</h2>
					<h4>Year: {{house.year}}</h4>
					<h4>City: {{house.city}}</h4>
					<p>Description: {{house.description}}</p>

					<!-- if there are already tenants of the housing, separate their names with a comma and a space ", "  -->
					<p>People rented this housing:
						{{#each house.renters}}
						{{this.fullName}}
						{{else}}
						<!-- If not display: -->
						There are no tenants yet.
						{{/each}}
					</p>
				</div>
			</div>

			<!-- if there is no registered user, do not display buttons-->
			{{#if hasUser}}
			{{> detailsButtons}}
			{{/if}}
		</div>
	</div>
</section>