<div class="product-btn">
	<!-- Only for registered user and creator of the housing offer-->
	{{#if usersData.isOwner}}
	<a href="/edit/{{house._id}}" class="edit">Edit</a>
	<a href="/delete/{{house._id}}" class="remove">Delete</a>
	{{else}}
	{{#if usersData.hasRented}}
	<p class="alRentHome">You have already rent this home</p>
	{{else}}
	{{#if usersData.isAvailable}}
	<!-- logged in user with available pieces-->
	<a href="/rent/{{house._id}}" class="rentHome">Rent a home, available {{house.available_pieces}} housing
	</a>
	{{else}}
	<!-- logged in user with no available pieces-->
	<p class="no-housing">No Housing Available!</p>
	{{/if}}
	{{/if}}
	{{/if}}
</div>